<h1>Show page</h1>
<p>
  <%= @note.title %>
</p>
<p>
  <%= @note.content %>
</p>

<%= link_to "編集", edit_note_path(@note.id), class: "btn edit-btn" %>
<%= link_to "削除", destroy_note_path(@note.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "本当に削除しますか？" %>
